<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>blog.lizconlan.com</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen, projector"  />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17686673-4']);
      _gaq.push(['_setDomainName', '.lizconlan.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <link href="http://lizconlan.github.com/feed.rss" rel="alternate" type="application/rss+xml" title="blog.lizconlan.com" />
  </head>
  <body>
    <header>
      <div id="header">
        <h1><a href="http://lizconlan.com">lizconlan.com</a></h1>
        <nav>
          <ul>
            <li>
              <a class="current" href="/">blog</a>
            </li>
            <li>
              <a href="http://blog.lizconlan.com/sandbox/">sandbox</a>
            </li>
            <li>
              <a href="http://code.lizconlan.com">code</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="main">
      <article id="index">
        {{ content }}
      </article>
      <footer>
        &copy 2011 - {{ site.time | date: "%Y" }} Liz Conlan 
      </footer>
    </div>
  </body>
</html>