<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>blog.lizconlan.com</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" media="screen, projector"  />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17686673-4']);
      _gaq.push(['_setDomainName', '.lizconlan.com']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <link href="http://lizconlan.github.com/feed.rss" rel="alternate" type="application/rss+xml" title="blog.lizconlan.com" />
  </head>
  <body>
    <header>
      <h1 class="homepage"><a href="/">blog.lizconlan.com</a></h1>
    </header>
    <article id="post">
      <h2>{{ page.title }}</h2>
      <span class="post_date">{{ page.date | date: "%b %Y"}}</span>
      {% if page.intro %}
        <div markdown="1" class="intro">
          {{ page.intro | textilize }}
        </div>
      {% endif %}
      {{ content }}
    </article>
    <footer>
      &copy {{ page.date | date: "%Y" }} Liz Conlan 
    </footer>
  </body>
</html>