body {
  margin:0;
  padding: 0;
  font-family:Georgia,serif;
  line-height:1.48em;
  background:#DFDCCB;
  color:#111;
  font-size:18.5px
}

header {
  font-size: 0.9em;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  background: #C4BFA0;
  color:#666;
  margin: 0;
  min-height: 2.5em;
  border-bottom:1px solid #AAA;
  padding-top:0.8em;
}

sup {
  position: relative;
}

div#header {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
}

header h1 {
  display: inline;
  font-weight: normal;
  font-family: Georgia,serif;
  font-size: 1.3em;
  color: #AAA;
}

nav {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

header ul {
  list-style: none;
  text-align: right;
  margin: 0;
}

header ul li {
  display: inline;
  margin-top: 0.5em;
  color: #666;
  padding-right: 3em;
}

header a {
  text-decoration:none;
  color:#666
}

header a.current {
  color: #0F0E09;
}

header a:hover {
  text-decoration:underline;
  color:crimson
}

#main {
  margin: 1em auto;
  text-rendering: optimizeLegibility;
  max-width:650px;
}

footer {
  text-align:center;
  font-weight:normal;
  font-family:Verdana,Arial,sans-serif;
  color:#666;
  display:block;
  padding-top:0.8em;
  margin-top:4em;
  margin-bottom:1.4em;
  border-top:1px solid #AAA;
  font-size:0.75em
}

#index h2 {
  margin-top:1.5em;
  text-indent:-0.2em;
}

#post h2 {
  text-align:center;
  margin: 1.5em 0 2em 0;
}

#index h3 {
  text-indent:-0.2em
}

#post h3 {
  margin-top:1.5em;
  text-indent:-0.2em;
}

h4 {
  text-indent:-0.2em
}

#index ul {
  list-style:none;
  margin-left:0;
  padding-left:1em
}

#index ul li {
  color:#666
}

div.intro>p:first-of-type:first-letter {
  font-size:270%;
  font-weight:bold;
  float:left;
  line-height: 1;
  margin-top: -1px;
  margin-right:0.1em;
  color:#666
}

article {
  position: relative;
  display:block;
  padding: 0.5em 0.8em
}

article#post {
  padding-top: 0.5em;
}

p.centered {
  text-align: center
}

pre code {
  display: block;
  background: #e8e8e8;
  border: 1px solid #aaa;
  padding: 6px 10px;
  word-wrap: break-word;
}

p code {
  display: inline-block;
  font-size: 0.85em;
  padding: 0.01em 0.2em;
  background-color: lightgray
}

span.post_date {
  display:block;
  position:absolute;
  text-align:center;
  top:-0.8em;
  right:0.5em;
  font-size:0.85em;
  color:#666
}

span.reading_time {
  display: block;
  text-align: center;
  font-size:0.9em;
  margin-top: -2.5em;
  margin-bottom: 2.5em;
}

sup a {
  color:crimson;
  text-decoration:none;
  font-weight:bold;
  padding:0 0.3em
}

sup a:hover {
  color:#666
}

ol#footnotes {
  margin-top:2.5em;
  border-top:1px solid #888;
  padding-top:2em;
  font-size:0.85em;
  margin-left:1em;
  margin-right:1em;
  padding-left:0
}

ol#footnotes li {
  margin-left:0;
  padding-left:0.5em;
  padding-right:1em
}

ol#footnotes li a {
  text-decoration:none
}

ol#footnotes li a.return {
  color:crimson
}

ol#footnotes li a.return:hover {
  color:#111;
  font-weight:bold
}